<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EnterprisePoliciesEnabled</key>
  <true/>
  <key>SearchEngines</key>
  <dict>
    <key>Add</key>
    <array>
      <dict>
        <key>Name</key>
        <string>I'm Feeling Lucky</string>
        <key>URLTemplate</key>
        <string>https://www.google.com/search?btnI=1&amp;q={searchTerms}</string>
        <key>Alias</key>
        <string>!</string>
      </dict>
    </array>
  </dict>
</dict>
</plist>
